#expand-sidenav {
    position: absolute;
    bottom: 50%;
    left: -4%;
}

#expand-sidenav > i {
    padding-left: 40%;
    background-color: white;
    color: grey;
}

#expand-sidenav:hover {
    transform: scale(1.2);
}

body {
    background-color: rgb(240, 240, 240);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.user-view {
    color: black;
    background-color: rgb(226, 226, 226);
}
