#expand-sidenav {
    position: absolute;
    bottom: 50%;
    left: -2%;
}

#expand-sidenav > i {
    padding-left: 40%;
    background-color: white;
    color: grey;
}

#collapse-sidenav {
    position: absolute;
    bottom: 50%;
    left: -4%;
}

#collapse-sidenav > i {
    padding-left: 40%;
    background-color: white;
    color: grey;
}

#expand-sidenav:hover {
    transform: scale(1.2);
}

#collapse-sidenav:hover {
    transform: scale(1.2);
}

html,
body {
    background-color: rgb(240, 240, 240);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.user-view {
    color: black;
    background-color: rgb(226, 226, 226);
}

.container {
    margin: 0.1vw;
    margin-left: 1vw;
}

.card > .status-icon > i {
    font-size: 10vw;
    color: rgba(255, 255, 255, 0.781);
    margin: 0;
}

.card {
    cursor: pointer;
}

#ecg {
    display: none;
}

#bp {
    display: none;
}
